<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kdg.toast.plugin">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />

    <application android:name=".Bridge">
        <service android:name=".PedometerService"
            android:enabled="true"
            android:exported="true">
        </service>

        <receiver android:name=".PedometerService$StepUpdateReceiver">
            <intent-filter>
                <action android:name="com.kdg.toast.plugin.ACTION_STEPS_UPDATED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".PedometerService$MyBroadcastReceiver">
            <intent-filter>
                <action android:name="com.kdg.toast.plugin.ACTION_STEPS_UPDATED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
